.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.custom-node-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dx-treeview-node-container{
  padding: 5px;
}
.dx-treeview-node, .dx-treeview .dx-treeview-node.dx-treeview-root-node {
  position: relative;
  padding-inline-start: 50px;
}

.dx-treeview-item {
  height: 50px;
  position: relative;
  padding: 0;
  z-index: 100;
  margin-top: 15px;
  border: 1px solid black;
  pointer-events: none;
  width: max-content;
  min-width: 250px;
}

.dx-treeview-node::before, 
.dx-treeview-node::after, 
.dx-treeview-item::before {
  content: '';
  display: block;
  position: absolute;
  left: 25px;
  width: 2px;
  background: black;
}
.dx-treeview-node::before {
  top: -20px;
  bottom: auto;
  height: 48px;
}
.dx-treeview-node::after {
  top: 25px;
  bottom:0;
  height: auto;
}

.dx-treeview-node:last-child:after{
  display: none;
}
.dx-treeview-node:first-child:before{
  display: none;
}
.dx-treeview-node .dx-treeview-node:first-child:before{
  display: block;
}
.dx-treeview-item i {
  position: absolute;
  left: -36px;
  border-radius: 50%;
  font-style: 13px;
  border: 1px solid gray;
  background-color:white;
  pointer-events: all;
}
.dx-treeview-item-without-checkbox.dx-state-focused>.dx-treeview-item {
  color:black;
}
.dx-treeview-item::before {
  width: 25px;
  left: -25px;
  height: 2px;
  top: 25px;
  z-index: -1;
}

.item-box {
  border: none;
  height: 50px;
  line-height: 50px;
  cursor: initial;
  padding-right: 20px;
}
.item-box > .item-drag{
  display: inline-block;
  margin-right: 10px;
  width: 50px;
  background-color: gray;
  text-align: center;
  font-size: 25px;
  color: white;
  cursor: move;
  pointer-events: all;

}
.dx-treeview-expander-icon-stub {
  display: none;
}

/* drive panel */
.drive-panel {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 20px 40px;
}
/* Search Box Style */
.search-box {
  width: 200px;
  padding: 4px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.search-box:focus {
  border-color: #007BFF;
  box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.25);
  outline: none;
}
/* button group css */
.button-group {
  display: block;
  width: max-content;
}
.button-group button {
  background-color: #007BFF;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, box-shadow 0.2s;
}

.button-group button:hover {
  background-color: #0056b3;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
/* nav buttons */
.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.nav-buttons button {
  background-color: #007BFF;
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s, box-shadow 0.2s;
}

.nav-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.nav-buttons button:hover:not(:disabled) {
  background-color: #0056b3;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.nav-buttons button:active:not(:disabled) {
  background-color: #004085;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.nav-buttons span {
  font-size: 16px;
  margin-left: 10px;
}