body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dx-row{
  display: flex;
  min-width: max-content;
}
.dx-row td {
  display: block;
}


.dx-treelist-text-content {
  display: flex;
}
.dx-row[aria-level="3"] {
  background-color: blue;
}



.form {
  display: flex;
}

.form > div {
  display: inline-block;
  vertical-align: top;
}

.dx-treeview-item {
  box-sizing: border-box;
}

.drive-header {
  min-height: auto;
  padding: 0;
  cursor: default;
  margin-bottom: 10px;
}

.drive-panel {
  padding: 20px 30px;
  font-size: 115%;
  font-weight: bold;
  border-right: 1px solid rgba(165, 165, 165, 0.4);
  height: 100%;
}

.drive-panel:last-of-type {
  border-right: none;
}
.dx-treeview-item-without-checkbox.dx-state-focused>.dx-treeview-item{
  background: transparent !important;
  box-shadow: 0 0 0px 3px skyblue;
}